.blog-content {
  line-height: 1.75;
  text-align: justify;
}

h3 {
  color: #218c74;
  text-align: left;
}

h4 {
  color: #fb7d76;
  margin-top: 1.8rem;
}

p {
  font-size: 1.12rem;
}

p:first-of-type {
  margin-top: 2rem;
}

.blog-image {
  max-height: 300px;
  margin: 0 auto;
  display: block;
  border: 1px solid #fb7c75;
}
