---
layout: default
permalink: /
active: home
---

<div class="container-fluid mar-top-50 pad-bottom-100 main">
  <div class="row">
    <div class="col">
      <div class="text-center">
        <h1 id="title" class="font-size-80 d-none d-sm-block">
          Py<span></span>
        </h1>
        <h1 id="title" class="font-size-50 d-block d-sm-none">
          Py<span class="mobile-span"></span>
        </h1>
        <h2 class="mar-top-10 font-size-25">Tamil Nadu's <b>first</b> Python conference</h2>
        <h3 class="mar-top-20 font-size-20 awesome-date"><b>September 7<sup>th</sup> and 8<sup>th</sup>, 2018</b></h3>
        <h3 class="mar-top-20 font-size-20 awesome-date"><b>IC & SR - IIT Madras</b></h3>
        <br/>

        <div class="text-center mar-top-20">
        
         <a
            target="_blank"
            href="https://www.townscript.com/e/pysangamam2018/booking"
            class="tsbutton btn btn-lg btn-outline-primary btn-cfp mar-top-10">
           Buy Tickets
         </a>
        
          <!--
          <a
            onclick="popup('pysangamam2018');"
            class="tsbutton btn btn-lg btn-outline-primary btn-cfp mar-top-10">
            Buy Tickets
          </a>
          -->
          
          <a target="_blank" href="https://cfp.pysangamam.org/" class="btn btn-lg btn-outline-primary btn-cfp mar-top-10">Submit a Proposal</a>
        </div>

        <div class="text-center mar-top-50 font-size-20">
          <a target="_blank" href="/blog/2018/08/14/schedule/"><strong>📅 Conference Schedule</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% include speakers.html %}

{% include sponsors.html %}

<!-- Blog and Twitter rolls -->
<div class="container-fluid container-invert pad-top-25">
  <h2 class="text-center"><strong>Latest Updates</strong></h2>
  <div class="row no-gutters mar-top-20 latest-updates">
    <!-- Blog roll -->
    <div class="col-12 col-md-5 col-lg-4 blog-list mar-top-20">
      {% for post in site.posts %}
        <div class="blog-date"><strong>{{ post.date | date: "%-d %b %Y" | upcase }}</strong></div>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <small>
          <p>{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
          <a href="{{ post.url }}">Read More</a>
        </small>
        <hr>
      {% endfor %}
    </div>

    <!-- Twitter roll -->
    <div class="col-12 col-md-5 col-lg-4 mar-top-20 twitter-roll">
      <a class="twitter-timeline"
        href="https://twitter.com/pysangamam?ref_src=twsrc%5Etfw"
        data-link-color="#218c74"
        data-width="500"
        data-height="400"
        data-chrome="noheader"
        data-dnt="false">
      </a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
    </div>
  </div>
</div>

<div class="container-fluid container mar-top-50" id="location">
  <div class="row no-gutters">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      <h2 class="text-center"><b>Location</b></h2>
      <br/>
      <div id="map" class="text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.6882922035306!2d80.22996781439227!3d12.991777817951348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a526780281bed21%3A0xd860742c9f32f3f4!2sIC%26SR+Building!5e0!3m2!1sen!2sin!4v1522982541529" width="100%" height="400px" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<noscript id="tsNoJsMsg">Javascript on your browser is not enabled.</noscript><script async src="//www.townscript.com/popup-widget/townscript-widget.nocache.js" type="text/javascript"></script>
