<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a class="footer-link" href="https://twitter.com/PySangamam" target="_blank">{% include img/twitter.svg %}</a></li>
          <li class="list-inline-item"><a class="footer-link" href="mailto:mail@pysangamam.org" target="_blank">{% include img/mail.svg %}</a></li>
        </ul>
      </div>
    </div>	
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center">
        <p>
          Brought to you by<a class="ml-2" href="https://chennaipy.org">Chennaipy.</a>
          Text is available under the
          <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank" data-toggle="tooltip" data-placement="top" title="Creative Commons Attribution-ShareAlike License">
            {% include img/cc.svg %}
            Creative Commons Attribution-ShareAlike License.
          </a>
        </p>
      </div>
      <hr>
    </div>	
  </div>
</section>
<!-- ./Footer -->

