<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://twitter.com/PySangamam"><i class="fa fa-twitter fa-3x"></i></a></li>
						<li class="list-inline-item"><a href="mailto:chennaipy@python.org" target="_blank"><i class="fa fa-envelope fa-3x"></i></a></li>
					</ul>
				</div>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>Brought to you by<a class="text-white ml-2" href="https://chennaipy.org">Chennaipy .</a> Text is available under the<a class="text-white ml-2" href="https://github.com/PySangamam/website/blob/gh-pages/LICENSE" target="_blank" data-toggle="tooltip" data-placement="top" title="Creative Commons Attribution-ShareAlike License."><i class="fa fa-creative-commons fa-2x"></i> Creative Commons Attribution-ShareAlike License.</a></p>
				</div>
				</hr>
			</div>	
		</div>
	</section>
	<!-- ./Footer -->