<nav class="navbar navbar-expand-sm navbar-light">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#sponsors">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/#location">Location</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/code-of-business-conduct">COC</a>
      </li>
    </ul>
  </div>
</nav>
