<table class="table table-bordered">
  <col width="10%" />
  <col width="10%" />
  <col width="80%" />
  <thead>
    <tr>
      <th colspan="2">Time</th>
      <th>Hall 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="3"><strong>Day 1</strong></td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>17:30</td>
      <td>
        <a
          target="_blank"
          href="/blog/2018/09/04/announcing-workshops#computer-vision-through-the-ages"
        >
          Computer Vision Through the Ages
        </a>
      </td>
    </tr>

    <tr>
      <td colspan="3"><strong>Day 2</strong></td>
    </tr>
    <tr>
      <td>10:30</td>
      <td>13:00</td>
      <td>
        <a
          target="_blank"
          href="/blog/2018/09/04/announcing-workshops#concurrent-programming-in-python"
        >
          Concurrent Programming in Python
        </a>
      </td>
    </tr>
    <tr>
      <td>15:00</td>
      <td>17:30</td>
      <td>
        <a
          target="_blank"
          href="/blog/2018/09/04/announcing-workshops#introduction-to-pandas--scaling-pandas-for-large-datasets"
        >
          Introduction to Pandas & Scaling Pandas for large Datasets
        </a>
      </td>
    </tr>
  </tbody>
</table>
