<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <link rel="stylesheet" href="/css/pysangamam-blog.css"/>

  <body class="open-sans-font blog-content">
    {% include navbar.html %}
    <div class="container-fluid mar-top-50 pad-bottom-100">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3><strong>{{ page.title }}</strong></h3>
          <span class="blog-date"><strong>{{ page.date | date: "%-d %b %Y" | upcase }}</strong></span>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    <br/>
    <br/>
    <br/>
  </body>
</html>
